@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 90% 95%;
    --foreground: 224 71% 4%;

    --card: 207 90% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 207 90% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71% 4%;

    --muted: 220 9% 96%;
    --muted-foreground: 220 9% 45%;

    --accent: 261 44% 58%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 89%;
    --input: 220 13% 91%;
    --ring: 231 48% 54%;

    --chart-1: 231 48% 54%;
    --chart-2: 261 44% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 231 48% 48%; /* A slightly darker shade of primary blue */
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 231 48% 54%;
    --sidebar-accent: 231 48% 54%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 40%;
    --sidebar-ring: 261 44% 58%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 215 20% 65%;
    
    --chart-1: 231 48% 54%;
    --chart-2: 261 44% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 210 20% 98%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 215 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
